.label {
    -fx-font-family: "Roboto Blk";
    -fx-text-fill: #4d637b;
    -fx-font-weight: bold;
}

.title {
    -fx-font-family: "Roboto Blk";
    -fx-text-fill: #707070;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#hrMin{
	-fx-font-size: 25pt;
}

#seconde{
	-fx-font-size: 10pt;
}

#extendedBar:play > .Rectangle{
	-fx-fill: #cc3300;/*#40d0ad;*/
}

#extendedBar > .Rectangle{
	-fx-fill: #4d637b;
}

.button{
	-fx-background-radius: 5em;
	-fx-background-color: #4d637b
}