#hrMin{
	-fx-font-family: "sans-serif";
	-fx-text-fill: #707070;
	-fx-font-size: 19pt;
}

#seconde{
	-fx-font-family: "sans-serif";
	-fx-text-fill: #707070;
	-fx-font-size: 8pt;
}

#extendedBar:play > .Rectangle{
	-fx-fill: #cc3300;
}

#extendedBar > .Rectangle{
	-fx-fill: #4d637b;
}

.button{
	-fx-background-radius: 0.1em;
}

.list-view {
    -fx-padding: 10px ;
    -fx-background-color: transparent  ;
}

.list-cell {
    -fx-padding: 5px ;
    -fx-background-color: transparent;
    -fx-background-insets: 0px, 10px ;
}

.list-cell:empty {
    -fx-padding: 5px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

.card{
	-fx-background-radius: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 0);
	-fx-background-color:  #ffffff;
}

.buttonPlay{
	-fx-background-color: #4d637b;
}

.buttonPlay:play{
	-fx-background-color: #b82f00;
}

.buttonPlay:play > .imageView{
	-fx-image: url('pause.png');
}

.buttonPlay > .imageView{
	-fx-image: url('play.png');
}

.taskTitle{
	-fx-font-family: "sans-serif";
    -fx-text-fill: #707070;
    -fx-font-size: 16px;
	-fx-font-weight: bold;
}

.subTitle {
    -fx-font-family: "sans-serif";
    -fx-text-fill: #707070;
    -fx-font-size: 16px;
}

.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: #4d637b;
    -fx-pref-height: 2;
}

.jfx-tab-pane:top .depth-container .tab-header-area .tab-header-background {
    -fx-background-color: #ffffff;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #707070;
    -fx-font-size: 16;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #424242;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #4d637b;
}
.jfx-tab-pane .tab-selected-line{
    -fx-stroke: #4d637b;
}